$background-color: #FFFDD0;
$green-chili: #7EDB0E;
$green-chili-shadow: #0E683C;
$red-chili: #FF081F;
$red-chili-shadow: #9C0020;

.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
