@use 'sass:color';
// Variables
$logo-background-color: #fffdd0;
$green-chili: #7edb0e;
$green-chili-shadow: #0e683c;
$red-chili: #ff081f;
$red-chili-shadow: #9c0020;

// Theme colors
$primary-dark: #1b1b1f; // Dark slate (primary dark background)
$secondary-dark: #292a2f; // Lighter dark shade (card background, headers)
$highlight-color: #f39c12; // Spicy yellow-orange (highlight, links, buttons)
$accent-color: #8e44ad; // Bold purple (secondary accents, decorative elements)
$text-color: #eaeaea; // Light gray for readability
$text-muted: #b3b3b3; // Muted gray for secondary text
$danger-color: #e74c3c; // Chili danger red (warnings, alerts)
$success-color: #27ae60; // Cilantro green (success feedback)
$border-color: #3c3c43; // Subtle borders and dividers
//
$primary-color: $primary-dark;
$light-color: $logo-background-color; // Light background color
$background-color: $logo-background-color; // Light background color

// Button hover effects
$highlight-hover: lighten($highlight-color, 10%);
$accent-hover: lighten($accent-color, 10%);

$font-family: 'Playfair Display', serif;
$font-secondary: 'McFoodPoisoning', sans-serif;

// Reset and base styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color;
  background-color: $light-color;
  padding-top: 30px;
}

@font-face {
  font-family: 'Dosmilcatorce';
  src: url('/assets/fonts/Dosmilcatorce.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kingsbridge';
  src: url('/assets/fonts/kingsbridge\ rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McFoodPoisoning';
  src: url('/assets/fonts/McFoodPoisoning1.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'McFoodPoisoning';
  src: url('/assets/fonts/McFoodPoisoning2.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'McFoodPoisoning';
  src: url('/assets/fonts/McFoodPoisoning3.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'McFoodPoisoning';
  src: url('/assets/fonts/McFoodPoisoning4.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'McFoodPoisoning';
  src: url('/assets/fonts/McFoodPoisoning5.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'McFoodPoisoning';
  src: url('/assets/fonts/McFoodPoisoning6.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/fonts/PlayfairDisplay-VariableFont_wght.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

.playfair-display-regular {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-subhead {
  font-family: $font-family;
  font-weight: 400;
  text-transform: uppercase;
}

.roboto-text {
  font-family: $font-family;
  font-weight: 400;
}

// Common form styles
.form-group {
  margin-bottom: 1rem;

  label {
    @extend .roboto-text;
    display: block;
    margin-bottom: 0.5rem;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
  }

  .help-text {
    @extend .roboto-text;
    font-size: 0.875rem;
    color: $secondary-dark;
    margin-top: 0.25rem;
  }
}

// Button styles
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &-primary {
    background-color: $background-color;
    color: white;
    border: none;

    &:hover {
      background-color: color.adjust($background-color, $lightness: -10%);
    }
  }

  &-secondary {
    background-color: $secondary-dark;
    color: white;
    border: none;

    &:hover {
      background-color: color.adjust($secondary-dark, $lightness: -10%);
    }
  }
}

.success-message {
  color: $success-color;
  margin-top: 1rem;
  font-weight: bold;
}

.error-message {
  color: $danger-color;
  margin-top: 1rem;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}
