@use 'sass:color';
@use '../../styles' as *;

// Splash Page styles
.splash-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); // Strong shadow for depth
  color: $text-color-light; // Light text for readability
  text-align: center;

  .splash-logo {
    max-width: 70%;
    margin-bottom: 1.5rem;
  }

  .splash-subdescription {
    font-size: 1.6rem;
    color: $highlight-color; // Bright green for emphasis
    font-family: $font-family;
    margin-bottom: 2rem;
  }

  .feature-list {
    text-align: left;

    .feature-title {
      color: $highlight-color;
      font-family: $font-secondary;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .feature-bullets {
      list-style-type: disc;
      padding-left: 2rem;

      li {
        font-size: 1.2rem;
        color: $text-color-muted;
        margin-bottom: 0.75rem;

        &:hover {
          color: $text-color-light;
          transition: color 0.3s ease;
        }
      }
    }
  }

  .game-description {
    background-color: color.adjust(
      $new-dark,
      $lightness: 10%
    ); // Slightly lighter dark background
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); // Subtle shadow for depth
    margin-bottom: 2rem;

    h3 {
      font-family: $font-family;
      color: $highlight-color; // Bright green for headers
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      color: $text-color-light; // Light text for better contrast
      font-family: $font-family;
      line-height: 1.8; // Improve readability with increased line spacing
      font-size: 1.2rem; // Slightly larger font size
      margin: 0;

      // Optional: Highlight keywords
      span {
        color: $highlight-color; // Use bright green for emphasis
        font-weight: bold;
      }
    }
  }

  .cta-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .btn {
      display: inline-block;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border-radius: 8px;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.3s ease;

      &-primary {
        background-color: $new-gray;
        color: $new-dark;

        &:hover {
          background-color: $new-red;
        }
      }

      &-secondary {
        background-color: $new-gray;
        color: $new-dark;

        &:hover {
          background-color: color.scale($new-lightGreen, $lightness: -10%);
        }
      }
    }
  }
}
